<html>

<head>
	<base href="/">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="This Site Provides Interview Puzzles">
	<meta name="author" content="Satish Pahuja">
	<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
	<title>Best Brain Teasers and Interview Puzzles</title>



	<!-- Custom CSS -->
	<link href="/css/puzzle.css" rel="stylesheet" type="text/css">
	
	<!-- Bootstrap Core CSS -->
	<link href="/css/bootstrap.css" rel="stylesheet" type="text/css">
</head>

<body ng-app="puzzleappindex" ng-cloak>

	<div ng-include="'/html/navbar.html'"></div>

	<div class="container" style="float:left; width:60%; margin-left: 6%" ng-controller="PuzzleList">

		<div ng-repeat="puzzle in jsonPuzzleArray | startFrom : (currentPage - 1) * pageSize | limitTo : pageSize">
			<div class="row">
				<div class="col-md-12">
					<h4>
						<a ng-href="/{{puzzle.puzzleURL}}">{{puzzle.puzzleHeading}}</a>
					</h4>
				</div>
			</div>

			<div class="row" style="text-align: justify">
				<div class="col-md-12">{{puzzle.puzzleQuestion | filteredQuestion}}</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<hr>
				</div>
			</div>
		</div>

		<!-- Pagination -->

		<div class="row text-center">
			<div class="col-md-12">
				<div>Page {{currentPage}} of {{numberOfPages()}}</div>
				<ul class="pagination">
					<li ng-show="currentPage>1"><a ng-click="updatePaginationGrid(currentPage-1)">&laquo;</a></li>
					<li ng-class="{active: currentPage == startPage}" ng-show="startPage<=numberOfPages()"><a ng-click="updatePaginationGrid(startPage)">{{startPage}}</a></li>
					<li ng-class="{active: currentPage == startPage+1}" ng-show="startPage+1<=numberOfPages()"><a ng-click="updatePaginationGrid(startPage+1)">{{startPage+1}}</a></li>
					<li ng-class="{active: currentPage == startPage+2}" ng-show="startPage+2<=numberOfPages()"><a ng-click="updatePaginationGrid(startPage+2)">{{startPage+2}}</a></li>
					<li ng-class="{active: currentPage == startPage+3}" ng-show="startPage+3<=numberOfPages()"><a ng-click="updatePaginationGrid(startPage+3)">{{startPage+3}}</a></li>
					<li ng-class="{active: currentPage == startPage+4}" ng-show="startPage+4<=numberOfPages()"><a ng-click="updatePaginationGrid(startPage+4)">{{startPage+4}}</a></li>
					<li ng-class="{active: currentPage == startPage+5}" ng-show="startPage+5<=numberOfPages()"><a ng-click="updatePaginationGrid(startPage+5)">{{startPage+5}}</a></li>
					<li ng-class="{active: currentPage == startPage+6}" ng-show="startPage+6<=numberOfPages()"><a ng-click="updatePaginationGrid(startPage+6)">{{startPage+6}}</a></li>
					<li ng-class="{active: currentPage == startPage+7}" ng-show="startPage+7<=numberOfPages()"><a ng-click="updatePaginationGrid(startPage+7)">{{startPage+7}}</a></li>
					<li ng-class="{active: currentPage == startPage+8}" ng-show="startPage+8<=numberOfPages()"><a ng-click="updatePaginationGrid(startPage+8)">{{startPage+8}}</a></li>
					<li ng-class="{active: currentPage == startPage+9}" ng-show="startPage+9<=numberOfPages()"><a ng-click="updatePaginationGrid(startPage+9)">{{startPage+9}}</a></li>
					<li ng-show="currentPage<numberOfPages()"><a ng-click="updatePaginationGrid(currentPage+1)">&raquo;</a></li>
				</ul>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12">
				<hr>
			</div>
		</div>
	</div>
	<div style="width:available;"></div>

	<div class="footer">
		<p>Copyright &copy; Brain Tease 2017</p>
	</div>


	<!-- jQuery -->
	<script src="/javascript/jquery.js"></script>

	<!-- Bootstrap Core JavaScript -->
	<script src="/javascript/bootstrap.js"></script>

	<script src="/javascript/angular.min.js"></script>

	<script src="/javascript/angular-route.js"></script>

	<script>
		var puzzleApp = angular.module('puzzleappindex', [], function ($locationProvider) {
			$locationProvider.html5Mode({
				enabled: true,
				rewriteLinks: false
			})
		});

		puzzleApp.controller('PuzzleList', function ($scope, $http, $location) {
			$scope.pageSize = 10;
			$scope.jsonPuzzleArray = [];

			if ($location.path().indexOf("search") >= 0) {
				$http.get('http://localhost:8888/getQuestionAnswerDataMap').
					then(function (response) {
						$scope.jsonPuzzleArray = response.data;
						$scope.updatePaginationGrid(1);
						$('body').show();
					}).catch(function (error) {
					});
			} else {

				$http.get('http://localhost:8888/getQuestionAnswerDataMap').
					then(function (response) {
						$scope.jsonPuzzleArray = response.data;
						$scope.updatePaginationGrid(1);
						$('body').show();
					}).catch(function (error) {
					});
			}

			$scope.numberOfPages = function () {
				return Math.ceil($scope.jsonPuzzleArray.length / $scope.pageSize);
			}

			$scope.searchPuzzle = function () {
				var searchParams = JSON.stringify(({ "searchText": $scope.searchText }))
				$http.post('http://localhost:8888/searchPuzzle', parameters, {
					headers: { 'Content-Type': 'application/json' }
				}).
					then(function (response) {
						if (response.data == "") {
							$window.location.href = 'http://localhost:8888/';
						} else {
							$scope.jsonPuzzleArray = response.data;
							$scope.updatePaginationGrid(1);
							$('body').show();
						}
					}).catch(function (error) {
					});
			}

			$scope.updatePaginationGrid = function (passedCurrentPage) {
				$scope.currentPage = passedCurrentPage;
				if ($scope.numberOfPages() <= 10) {
					$scope.startPage = 1;
					$scope.endPage = $scope.numberOfPages();
				} else {
					if ($scope.currentPage <= 6) {
						$scope.startPage = 1;
						$scope.endPage = 10;
					} else if ($scope.currentPage + 4 >= $scope.numberOfPages()) {
						$scope.startPage = $scope.numberOfPages() - 9;
						$scope.endPage = $scope.numberOfPages();
					} else {
						$scope.startPage = $scope.currentPage - 5;
						$scope.endPage = $scope.currentPage + 4;
					}
				}
			}
		})

		puzzleApp.filter('startFrom', function () {
			return function (data, start) {
				start = +start;
				return data.slice(start);
			}
		})

		puzzleApp.filter('filteredQuestion', function () {
			return function (data) {
				if (data.length > 300) {
					return data.substring(0, data.indexOf(" ", 299));
				}
				else {
					return data;
				}
			}
		})
	</script>
</body>

</html>